@import "_flexbox";

html,
body {
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  color: #252525;
  height: 100%;
}

nav {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  color: #252525;
  border-top: 5px solid #4d8e27;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, .7);

  a {
    padding: 0 0.5rem;
    color: #252525;
    text-transform: uppercase;
    text-decoration: none;

    &.is-active {
      color: #4d8e27;
    }
  }
}

main {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-family: serif;
  line-height: 2.3rem;

  a {
    color: #b93c2f;
    &:visited{
      color: #bd7c75;
    }
    &:hover{
      color: #b93c2f;
    }
  }
}

.introduction {
  margin-bottom: 1.5rem;

  h1{
    line-height: 2.7rem;
    font-weight: normal;
  }
}

.articles{
  background: #e0e0e0;
  padding: 1rem;

  .row:not(:last-child){
    margin-bottom: 1rem;
  }

  .box{
    flex: 1 1 auto;
    height: 230px;
    background: pink;
  }
}

.project, .book{
  h3{
    margin-bottom: 0;
  }
  p{
    font-size: 1.4rem;
  }
  p,small{
    line-height: 2rem;
  }
}

.recent{
  background: #efefef;
  padding: 3rem 0;
  width: 100%;
}

.avatar{
  display: inline-block;
  overflow: hidden;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background-color: #252525;
}

.drop-shadow{
  box-shadow: 0 0 5px rgba(0,0,0,.7);
}

.flex{
  display: flex;
}

//
//.container {
//  width: 45rem;
//}
//
//.outer{
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//}
//
//

//
//body {
//  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
//  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
//}
//
//footer{
//  background-color: rgba(100, 179, 88, 0.29);
//}
//
//#app {
//  display: flex;
//  flex-direction: column;
//  /*justify-content: center;*/
//  /*align-items: center;*/
//  /*height: 100%;*/
//}
//
//h1 {
//  font-weight: 300;
//}
//
