//@import "_flexbox";

// Brand Colours
$photogabbleYellow: #F2C14F;
$photogabbleGreen: #2e7555;
$photogabbleRed: #b93c2f;
$light: #f9f9f9;
$dark: #252525;

html{
  overflow-y: scroll;
}

html,
body {
  padding: 0;
  margin: 0;
  background: $light;
  color: $dark;
  min-height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
  transition: color .3s ease;
}

nav {
  width: 100%;
  height: 50px;
  min-height: 50px;
  background: #FFFFFF;
  color: #252525;
  border-top: 5px solid #4d8e27;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, .7);

  a {
    padding: 0 0.5rem;
    color: #252525;
    text-transform: uppercase;
    text-decoration: none;

    &.is-active {
      color: #4d8e27;
    }
  }
}

main {
  flex: 1;
  margin-top: 3rem;
  font-size: 1.6rem;
  font-family: serif;
  line-height: 2.3rem;

  a {
    color: $photogabbleRed;
    &:visited{
      color: #bd7c75;
    }
    &:hover{
      color: $photogabbleRed;
    }
  }
}

footer{
  background: $dark;
  color: $light;

  a{
    color: $photogabbleGreen;
  }
}


.introduction {
  margin-bottom: 1.5rem;

  h1{
    line-height: 2.7rem;
    font-weight: normal;
  }
}

.articles{
  padding: 3rem 0;

  & > div{
    max-width: 1600px;
    margin: 0 auto;
  }

  article{
    flex: 1 1 auto;
    min-height: 300px;
    width: 33.33333%;

    box-sizing: border-box;
    margin-bottom: 0;
    padding: 1rem;
    cursor: pointer;

    header{
      background-size: cover;
      background-position: center center;
      text-align: center;
      min-height: 300px;
      background: #d8e0ec;
      display: table;
      width: 100%;
      letter-spacing: 2px;

      overflow: hidden;
      margin-bottom: 0;
      position: relative;

      & > a{
        background: rgba(0,0,0,.5);
        display: table-cell;
        vertical-align: middle;
        border-bottom-width: 4px;
        color: #f9f9f9;
        padding: 0 2.5rem;
        text-decoration: none;

        &:hover{
          color: $photogabbleYellow;
        }
      }

      font-family: sans-serif;

      p{
        text-transform: uppercase;
        font-weight: bold;
        font-size: .7rem;
        line-height: normal;

        span{
          color: $photogabbleYellow;
          border-bottom: 1px solid;
        }
      }
    }

  }
}

.project, .book{
  h3{
    margin-bottom: 0;
  }
  p{
    font-size: 1.4rem;
  }
  p,small{
    line-height: 2rem;
  }
}

.recent{
  //background: #efefef;
  //padding: 3rem 0;
  width: 100%;
}

.avatar{
  display: inline-block;
  overflow: hidden;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background-color: #252525;
}

.drop-shadow{
  box-shadow: 0 0 5px rgba(0,0,0,.7);
}

.flex{
  display: flex;

  &.center{
    justify-content: center;
  }

  &.middle{
    align-items: center;
  }

  &.around{
    flex-flow: wrap;
  }
}

.max-width{
  width: 64rem;
}

.narrow .max-width{
  width: 52rem;
}